{{ form_start(form) }}
    {{ form_widget(form) }}
    <br><div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-success">{{ button_label|default('Salvar') }}</button>
{{ form_end(form) }}
